<div class="dropdown-container">
  <label>선호하는 설정을 선택하세요</label>
  <div *ngFor="let dropdown of dropdownEntries" class="custom-select">
    <div class="select-selected" (click)="toggleDropdown(dropdown.key)">
      {{ selectedOptions[dropdown.key] }}
    </div>
    <div
      *ngIf="activeDropdown === dropdown.key"
      class="select-items"
    >
      <div *ngFor="let option of dropdown.options"
           (click)="selectOption(dropdown.key, option)">
        {{ option }}
      </div>
    </div>
  </div>
  <button class="clear-options" (click)="clearOptions()">초기화</button>
</div>
