<div class="popular-container">
  <div class="view-toggle">
    <button (click)="setView('grid')"
            [ngClass]="{ active: currentView === 'grid' }">
      <fa-icon [icon]="faTh"></fa-icon>
    </button>
    <button (click)="setView('list')"
            [ngClass]="{ active: currentView === 'list' }">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
  </div>

  <app-movie-grid
    *ngIf="currentView === 'grid'"
    [title]="'인기 영화'"
    [fetchUrl]="fetFetchURL()"
  ></app-movie-grid>

  <app-movie-infinite-scroll
    *ngIf="currentView === 'list'"
    [apiKey]="apiKey"
    [genreCode]="'28'"
    [sortingOrder]="'all'"
    [voteEverage]="-1"
  ></app-movie-infinite-scroll>
</div>
