<div id="container">
  <header class="app-header" [ngClass]="{ 'scrolled': isScrolled }">
    <div class="header-left">
      <div class="logo">
        <a routerLink="/">
          <fa-icon [icon]="['fas', 'ticket']" style="height: 100%; color: #E50914;"></fa-icon>
        </a>
      </div>
      <nav class="nav-links desktop-nav">
        <ul>
          <li><a routerLink="/">홈</a></li>
          <li><a routerLink="/popular">대세 콘텐츠</a></li>
          <li><a routerLink="/wishlist">내가 찜한 리스트</a></li>
          <li><a routerLink="/search">찾아보기</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-right">
      <button class="icon-button" (click)="removeKey()">
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
      </button>
      <button class="icon-button mobile-menu-button" (click)="toggleMobileMenu()">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
    </div>
  </header>

  <!-- Mobile Navigation -->
  <div class="mobile-nav" [ngClass]="{ 'open': isMobileMenuOpen }">
    <button class="close-button" (click)="toggleMobileMenu()">
      <fa-icon [icon]="['fas', 'times']"></fa-icon>
    </button>
    <nav>
      <ul>
        <li><a routerLink="/" (click)="toggleMobileMenu()">홈</a></li>
        <li><a routerLink="/popular" (click)="toggleMobileMenu()">대세 콘텐츠</a></li>
        <li><a routerLink="/wishlist" (click)="toggleMobileMenu()">내가 찜한 리스트</a></li>
        <li><a routerLink="/search" (click)="toggleMobileMenu()">찾아보기</a></li>
      </ul>
    </nav>
  </div>
</div>
