<div>
  <div class="bg-image"></div>
  <div class="container">
    <div id="phone">
      <div id="content-wrapper">
        <div [ngClass]="{'card': true, 'hidden': !isLoginVisible}" id="login">
          <form (ngSubmit)="handleLogin()">
            <h1>Sign in</h1>
            <div class="input" [ngClass]="{'active': isEmailFocused || email}">
              <input id="email" type="email" [(ngModel)]="email" name="email" (focus)="focusInput('email')" (blur)="blurInput('email')">
              <label for="email">Username or Email</label>
            </div>
            <div class="input" [ngClass]="{'active': isPasswordFocused || password}">
              <input id="password" type="password" [(ngModel)]="password" name="password" (focus)="focusInput('password')" (blur)="blurInput('password')">
              <label for="password">Password</label>
            </div>
            <span class="checkbox remember">
              <input type="checkbox" id="remember" [(ngModel)]="rememberMe" name="rememberMe">
              <label for="remember" class="read-text">Remember me</label>
            </span>
            <span class="checkbox forgot">
              <a href="#">Forgot Password?</a>
            </span>
            <button [disabled]="!isLoginFormValid">Login</button>
          </form>
          <a href="javascript:void(0)" class="account-check" (click)="toggleCard()">Already an account? <b>Sign in</b></a>
        </div>

        <div [ngClass]="{'card': true, 'hidden': isLoginVisible}" id="register">
          <form (ngSubmit)="handleRegister()">
            <h1>Sign up</h1>
            <div class="input" [ngClass]="{'active': isRegisterEmailFocused || registerEmail}">
              <input id="register-email" type="email" [(ngModel)]="registerEmail" name="registerEmail" (focus)="focusInput('registerEmail')" (blur)="blurInput('registerEmail')">
              <label for="register-email">Email</label>
            </div>
            <div class="input" [ngClass]="{'active': isRegisterPasswordFocused || registerPassword}">
              <input id="register-password" type="password" [(ngModel)]="registerPassword" name="registerPassword" (focus)="focusInput('registerPassword')" (blur)="blurInput('registerPassword')">
              <label for="register-password">Password</label>
            </div>
            <div class="input" [ngClass]="{'active': isConfirmPasswordFocused || confirmPassword}">
              <input id="confirm-password" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" (focus)="focusInput('confirmPassword')" (blur)="blurInput('confirmPassword')">
              <label for="confirm-password">Confirm Password</label>
            </div>
            <span class="checkbox remember">
              <input type="checkbox" id="terms" [(ngModel)]="acceptTerms" name="acceptTerms">
              <label for="terms" class="read-text">I have read <b>Terms and Conditions</b></label>
            </span>
            <button [disabled]="!isRegisterFormValid">Register</button>
          </form>
          <a href="javascript:void(0)" id="gotologin" class="account-check" (click)="toggleCard()">Don't have an account? <b>Sign up</b></a>
        </div>
      </div>
    </div>
  </div>
</div>
