<div class="movie-grid" #gridContainer>
  <div [class]="['grid-container', currentView]">
    <div *ngFor="let movieGroup of visibleWishlistMovies; let i = index"
         [class]="['movie-row', { 'full': movieGroup.length === rowSize }]">
      <div *ngFor="let movie of movieGroup"
           class="movie-card"
           (click)="toggleWishlist(movie)">
        <img [src]="getImageUrl(movie.poster_path)" [alt]="movie.title">
        <div class="movie-title">{{ movie.title }}</div>
        <div class="wishlist-indicator">👍</div>
      </div>
    </div>
  </div>
  <div *ngIf="wishlistMovies.length === 0" class="empty-wishlist">
    위시리스트가 비어 있습니다.
  </div>
  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="prevPage()" [disabled]="currentPage === 1">&lt; 이전</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">다음 &gt;</button>
  </div>
</div>
